<p>{{title}}</p>
<input class="form-control" type="text" #myInput
       (input)="changeText(myInput.value)">
<button class="btn btn-primary" [disabled]="!isEnabled"
        (click)="setTitle(myInput.value)">add</button>
<br/>
<br/>
<br/>
<input class="form-control" type="text" [(ngModel)]="email">
<button class="btn btn-primary" [disabled]="email.length < 3">Add</button>
<br/>
<div class="alert alert-danger" *ngIf="email.length < 3; else success">Email is not valid</div>
<ng-template #success>
  <div class="alert alert-success">Email valid!</div>
</ng-template>
<hr>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let name of names; let i = index">{{(i + 1) +' ' + name}} <button class="btn btn-danger">delete</button> </li>
</ul>
